.container {
    text-align: center;
}

.password {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 25px;
    color: #f39c12;
    font-family: consolas, courier;
    background-color: #eee;
    display: inline-block;
    padding: 15px;
    font-weight: 800;
}

#word_count {
    width: 40px;
}

.details {
    margin-top: 25px;
}


.error {
    height: 20px;
    color: red;
    padding: 5px;
}